{% extends "base.html.twig" %}

{% block overview %}
    {% set rundays = 0 %}
    {% set totalDistance = 0 %}
    <!-- Tabelle mit allen Laufern -->
    <div class="col-md-12 col-sm-12 col-xs-12" id="tableList">
        <table>
            <tr>
                <th>Name</th>
                <th>Lauftage</th>
                <th>Strecke in km</th>
            </tr>
            {% for username in usernames %}
                <tr>
                    <td><a href="{{ path('userProfil', {username : username.username}) }}">{{ username.username }}</a></td>

                    {% for diary in diaries %}
                        {% if username.id == diary.owner.id %}
                            {% set  totalDistance = diary.distance + totalDistance %}
                            {% set rundays = rundays + 1 %}
                        {% endif %}
                    {% endfor %}
                    <td>{{ rundays }}</td>
                    <td>{{ totalDistance }}</td>

                    {% set totalDistance = 0 %}
                    {% set rundays = 0 %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}