<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Running Diary{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
        <div class="container">

        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
